<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button onclick="javascript:history.go(-1)" class="button button-clear button-icon ion-android-arrow-back"></button>
         <h1 class="title">About and help</h1>
    </ion-header-bar>
    <ion-content scroll="true">
        <div class="list">
            <a class="item">
              <h2>About</h2>
            </a>
            <a class="item">
              <h2>FAQ</h2>
            </a>
            <a class="item">
              <h2>System status</h2>
            </a>
            <a class="item">
              <h2>Terms and Privacy Policy</h2>
            </a>
            <a class="item">
              <h2>Contact us</h2>
            </a>
        </div>
    </ion-content>
</ion-view >
