<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button onclick="javascript:history.go(-1)" class="button button-clear button-icon ion-android-arrow-back"></button>
         <h1 class="title">New Group</h1>
        <button class="button button-clear button-icon ion-android-done">&nbsp; CREATE</button>
    </ion-header-bar>
    <ion-content scroll="true">
    <ion-list>
      <div class="card no-background1" style="margin: 15px 0px -7px 22px;">
        <p>ADD GROUP PARTICIPANTS</p>
      </div>
      <div class="no-background1 bar bar-header no-padding  item-input-inset" style="border-bottom: 2px solid #333;width: 90%;margin: 0 5%;">
        <label class="item-input-wrapper  no-padding ">
          <input autofocus type="text"  ng-model="data.search" ng-change="search();" placeholder="Type contact name..." >
        </label>
        <button ui-sref="addgrouplist" class="button button-clear button-icon ion-android-add" style="color:#28a54c;">
        </button>
      </div>
      <div class="list" ng-hide="searchbox" style="position: absolute !important;z-index: 999;margin-top: 0px !important;;width: 100% !important;padding-left: 10px !important;padding-right: 10px !important;height: 350px !important;overflow: scroll !important;overflow-y: scroll !important;">
        <a class="item item-avatar" ng-repeat="airline in searchList">
          <img ng-src="{{airline.image}}">
          <h2>{{airline.name}}</h2>
          <p>{{airline.status}}</p>
        </a>
      </div>
    </ion-list>
    </ion-content>
</ion-view >
