<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button ng-click="backaddgorup()" class="button button-clear button-icon ion-android-arrow-back"></button>
         <h1 class="title">New Group</h1>
        <button class="button button-clear button-icon ion-android-done" ng-click="createGroup()">&nbsp; CREATE</button>
    </ion-header-bar>
    <ion-content scroll="true">
    <ion-list>
      <div class="card no-background1" style="margin: 15px 0px -7px 22px;">
        <p>ADD GROUP PARTICIPANTS</p>
      </div>
      <div class="no-background1 bar bar-header no-padding  item-input-inset" style="border-bottom: 2px solid #2de7c7;width: 90%;margin: 0 5%;">
        <label class="item-input-wrapper  no-padding ">
          <input autofocus type="text"  ng-model="data.search" ng-change="search();" placeholder="Type contact name..." >
        </label>
        <button ui-sref="addgrouplist" class="button button-clear button-icon ion-android-add" style="color:#2de7c7;">
        </button>
      </div>
      <div class="item item-avatar item-icon-right" ng-repeat="addlist in addlistgroup track by $index">
        <img src="img/profile.png">
        <h2>{{addlist}}</h2>
        <i class="icon ion-android-close" style="color:red !important;" ng-click="removelist(addlist)"></i>
      </div>
  </ion-list>
  <div class="list autoComplete" ng-hide="searchbox">
    <a class="item item-avatar" ng-repeat="airline in searchList">
      <img ng-src="img/profile.png">
      <h2>{{airline.displayName}}</h2>
      <!-- <p>{{airline.status}}</p> -->
    </a>
  </div>
  </ion-content>
</ion-view >
