<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
         <h1 class="title">Enter your name</h1>
    </ion-header-bar>
    <ion-content scroll="true">
    <ion-list>
        <div class="card no-background1">
            <label class="item item-input" style="width: 90%;margin: 0;">
                <input autofocus type="text" ng-model="userName" placeholder="status" style="border-bottom: 2px solid #333;">
            </label>
        </div>
    </ion-list>
    </ion-content>
    <ion-footer-bar class="no-margin no-padding">   
        <div class="button-bar no-margin no-padding">
          <a class="button no-margin no-padding" onclick="javascript:history.go(-1)">Cancel</a>
          <a class="button no-margin no-padding" ng-click="ProfileDone(userName)">OK</a>
        </div>
    </ion-footer-bar>
</ion-view >
