<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button onclick="javascript:history.go(-1)" class="button button-clear button-icon ion-android-arrow-back"></button>
         <h1 class="title">Delete my account</h1>
    </ion-header-bar>
    <ion-content scroll="true">
        <!-- <div class="list">
            <a class="item" ui-sref="privacy">
              Privacy
            </a>
            <a class="item" ui-sref="security">
              Security
            </a>
            <a class="item">
              Chnages number
            </a>
            <a class="item">
              Delete my account
            </a>
        </div> -->
    </ion-content>
</ion-view >
