<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Profile</h1>
        <button class="button button-clear button-icon" ng-click="userProfileDone()">Done</button>
    </ion-header-bar>
    <ion-content scroll="true" style="background:#efefef;">
      <div class="card no-background">
        <center>
          <img ng-click="openModalprofileview()" src="{{url_prefix1}}{{imagePath}}"   err-src="img/profile.png" style="width: 150px;height: 150px;border-radius: 100%;">
          <a class="icon-circle" ng-click="uploadImage()">
            <i class="ion-android-camera"></i>
          </a>
        </center>
      </div>
      <div class="list">
        <a class="item item-icon-right" ui-sref="addname" style="border:none !important;">
          <i class="icon ion-android-create fs-20 icon-color"></i>
          {{userName}}
        </a>
        <div class="item item-text-wrap no-background">
          This is a basic Card which contains an item that has wrapping text.
        </div>
        <div class="item item-divider">
          Your number
        </div>
        <a class="item">
         {{usernumber}}
        </a>
      </div>
    </ion-content>
</ion-view >
