<ion-view align-title="left" title="{{current_room }}">
 	<header class="bar bar-header bar-positive">
 		<button class="button button-clear button-icon ion-chevron-left" ng-click="leaveRoom()"></button>
 		<h1 class="title">{{current_user}}</h1>
 		
 	</header>
 	
  <ion-content class="has-header padding" style="background:url('img/bg.jpg') fixed no-repeat;background-size:100%;bottom:-30px;">
	<div class="list" id="messages" ng-if="messageList.length > 0">
	    <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in messageList track by $index" style="background:transparent;padding:0px;">
      
                      <div ng-if="msg.sender_id == usernumber" class="chat-bubble left">
      
                          <div class="message" ng-bind-html="msg.text" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span 
                                  class="bold">{{msg.message}}</span>
                              <div class="user">{{ msg.sender_name }}, <span>{{ humanize(msg.time) }}</span></div>
                          </div>	
      
                      </div>
                      <div ng-if="msg.sender_id != usernumber" class="chat-bubble right">
      
                          <div class="message-detail">
                              <span 
                                  class="bold">{{msg.message}}</span>
                              <div class="user">{{ msg.receiver_name }}, <span>{{ humanize(msg.time) }}</span></div>
                          </div>
      
                      </div>

	    </li>
      {{type_message}}
	</div>	

	<div class="card" ng-if="!messageList.length">
	  <div class="item item-text-wrap">
	    No messages yet.
	  </div>
	</div>

  </ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset  has-content">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" on-return="sendTextMessage(); closeKeyboard()" ng-keyup="stopTyping()" ng-change="startTyping()" ng-model="message" style="margin:5px;" />
  </label>
  <button class="button button-clear" ng-click="sendTextMessage()">
    Send
  </button>
</ion-footer-bar>

</ion-view>