<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button onclick="javascript:history.go(-1)" class="button button-clear button-icon ion-android-arrow-back"></button>
         <h1 class="title">New Group</h1>
        <button ui-sref="addgroup" class="button button-clear button-icon ion-android-done">&nbsp; NEXT</button>
    </ion-header-bar>
    <ion-content scroll="true">
    <ion-list>
      <ion-item class="item-avatar item-text-wrap" style="padding-left: 115px;min-height: 130px;border:none;">
        <img ng-src="img/group.png" style="max-width: 85px;max-height: 85px;">
        <h2 style="color: #333;">Please provide group subject and optional group icon</h2>
      </ion-item>
      <div class="card no-background1">
        <label class="item item-input" style="width: 90%;margin: 0;">
            <input autofocus type="text" placeholder="Type group subject here....." style="border-bottom: 2px solid #2de7c7;">
        </label>
      </div>
    </ion-list>
    </ion-content>
   <!--  <ion-pull-up-footer class="bar-calm" initial-state="minimized" default-behavior="hide">
        <div class="title" ion-pull-up-trigger>More details</div>
        <ion-pull-up-handle width="100" height="25" toggle="ion-chevron-down ion-chevron-up" style="border-radius: 25px 25px 0 0">
            <i class="icon ion-chevron-up"></i>
        </ion-pull-up-handle>

        <ion-pull-up-content scroll="false">
           
        </ion-pull-up-content>
    </ion-pull-up-footer> -->
</ion-view >
