<ion-view view-title="Sliding Tabs 2" ng-controller="HomeCtrl">
	<header class="bar bar-header bar-positive">
		<button class="button pullflash button-clear button-icon ion-ios-bolt"></button>
 		<h1 class="title">StormChat</h1>
 		<!-- <search-bar  ng-model="search"></search-bar> -->
 		<button class="button pullSearch button-clear button-icon ion-android-search"></button>

 		<button ng-hide="hideCall" class="button pullSame button-clear button-icon ion-android-call"></button>
 		<button ng-hide="hideCall" ng-click="openPopovercallPop($event)" class="button pullRight button-clear button-icon ion-android-more-vertical"></button>

 		<button ng-hide="hideChat" class="button pullSame button-clear button-icon ion-android-chat"></button>
 		<button ng-hide="hideChat" id="chat" ng-click="openPopoverchatPop($event)" class="button pullRight button-clear button-icon ion-android-more-vertical"></button>

 		<button ng-hide="hideContact" class="button pullSame button-clear button-icon ion-android-person-add"></button>
 		<button ng-hide="hideContact" ng-click="openPopovercontactPop($event)" class="button pullRight button-clear button-icon ion-android-more-vertical"></button>

 	</header>
    <ion-content header-shrink scroll-event-interval="5" scroll="false" style="top: 44px;">
        <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs on-slide-changed="slideHasChanged($index)">
            <ion-slide ion-slide-tab-label="Call">
            	<!-- <ion-view title="Rooms" ng-controller="HomeController as home_ctrl">
					 <ion-content class="has-header padding" scroll="true">
						<div class="card" ng-repeat="room in home_ctrl.rooms">
						  <div class="item item-text-wrap text-center" ng-click="enterRoom(room)">
						    <strong>{{room}}</strong>
						  </div>
						</div>
					  </ion-content>
				</ion-view> -->
            </ion-slide>
            <ion-slide ion-slide-tab-label="Chat" selected>
        		 <ion-content  class="has-header" style="top: 0;" scroll="true">
					<div class="list">
					  <a class="item item-avatar" ng-repeat="room in rooms" ng-click="enterRoom(room)">
					      <img src="img/ionic.png">
					      <h2>Venkman</h2>
					      <p>{{room}}</p>
					  </a>
					</div>
				  </ion-content>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Contact">
        		 <ion-content scroll="true">
					<!--<div class="card" ng-repeat="contact in contacts track by $index " ng-if="contact.phoneNumbers[0].value">
					  <div class="item item-text-wrap text-center" ng-click="enterRoom(room)">
					    <strong>{{contact.displayName}}</strong>
					  </div>
					</div>-->
                    <div class="list">
					  <a class="item item-avatar" ng-repeat="user in userList" ng-click="enterRoom(room)" ng-if="user.phone!=usernumber">
					      <img src="img/ionic.png">
					      <h2>{{ user.username }}</h2>
					  </a>
					</div>
				  </ion-content>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>