<ion-view view-title="Home" ng-controller="HomeCtrl">
	<header class="bar bar-header bar-positive">
		<button class="button pullflash button-clear button-icon ion-ios-bolt"></button>
 		<h1 class="title">StormChat</h1>
 		<!-- <search-bar  ng-model="search"></search-bar> -->
 		<button class="button pullSearch button-clear button-icon ion-android-search"></button>

 		<button ng-hide="hideCall" class="button pullSame button-clear button-icon ion-android-call"></button>
 		<button ng-hide="hideCall" ng-click="openPopovercallPop($event)" class="button pullRight button-clear button-icon ion-android-more-vertical"></button>

 		<button ng-hide="hideChat" class="button pullSame button-clear button-icon ion-android-chat"></button>
 		<button ng-hide="hideChat" id="chat" ng-click="openPopoverchatPop($event)" class="button pullRight button-clear button-icon ion-android-more-vertical"></button>

 		<button ng-hide="hideContact" class="button pullSame button-clear button-icon ion-android-person-add"></button>
 		<button ng-hide="hideContact" ng-click="openPopovercontactPop($event)" class="button pullRight button-clear button-icon ion-android-more-vertical"></button>
	</header>
    <ion-content header-shrink scroll-event-interval="5" scroll="false" style="top: 44px;">
        <ion-slide-box  options="options" slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs on-slide-changed="slideHasChanged($index)">
            <ion-slide ion-slide-tab-label="Calls">
            	<!-- <ion-view title="Rooms" ng-controller="HomeController as home_ctrl">
					 <ion-content class="has-header padding" scroll="true">
						<div class="card" ng-repeat="room in home_ctrl.rooms">
						  <div class="item item-text-wrap text-center" ng-click="enterRoom(room)">
						    <strong>{{room}}</strong>
						  </div>
						</div>
						<br /><br /><br />
					  </ion-content>
				</ion-view> -->
            </ion-slide>
            <ion-slide slide-tabs-scrollable="true" ion-slide-tab-label="Chats">
        		 <ion-content class="has-header" style="top: 0;" overflow-scroll="true" has-bouncing="true">
        		 		<div class="list">
						  <a class="item item-avatar" ng-repeat="room in groupList" ng-click="enterGroupRoom(room)">
						      <img src="{{url_prefix1}}{{room.image_url}}" err-src="img/profile.png">
						      <h2>{{room.group_name}}</h2>
	                            {{room.users}}
					  	   </a>
						</div>
						<br /><br />
				  </ion-content>
            </ion-slide>
            <ion-slide slide-tabs-scrollable="true" ion-slide-tab-label="Contacts">
        		 <ion-content overflow-scroll="true" has-bouncing="true">
					<div class="list">
						  <a class="item item-avatar item-text-wrap" ng-repeat="contact in userList track by $index" ng-if="contact.phone!=usernumber" ng-click="enterChatRoom(contact)">
						   	<img src="{{url_prefix1}}{{room.image_url}}" err-src="img/profile.png">
						    <h2>{{contact.username}}</h2>
						    {{contact.phone}}
						  </a>
					</div>
					<br /><br />
				</ion-content>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>