<ion-modal-view>
<ion-header-bar class="background-black">
  <button ng-click="closeModalprofileview()" class="button text-white button-clear button-icon ion-android-arrow-back"></button>
  <h1 class="title text-white">Profile photo</h1>
  <button class="button text-white pullSame button-clear button-icon ion-android-create"></button>
  <button class="button text-white pullRight button-clear button-icon ion-android-share-alt"></button>
</ion-header-bar>
<ion-content>
  <div class="list no-background" style="margin-top: 25%;">
    <center>
      <img src="img/ben.png" style="width: 100%;">
 	</center>
  </div>
</ion-content>
</ion-modal-view>