<ion-view align-title="left" title="{{current_room }}" style="background:url('img/bg.jpg') fixed no-repeat;background-size:100%;">
 	<header class="bar bar-header bar-positive">
 		<button class="button button-clear button-icon ion-android-arrow-back" ng-click="leaveRoom()"></button>
      <img src="{{url_prefix1}}{{userchat.image_url}}" err-src="img/profile.png" style="width:35px;height:35px;border-radius: 50%;">
 		  <a ui-sref="roomview" style="width: 50% !important; z-index: 99999;">
       <h1 class="title"  style="left: 65px !important;top: -6px;width: 50%;">{{current_chat_friend}}</h1>
      </a>
       <h1 class="title" ng-show="online == 'Y'" style="left: 65px !important;top: 12px;font-size:13px;">online</h1> 
      <h1 class="title text_white" style="left: 65px !important;top: 12px;font-size:13px;">{{type_message}}</h1>
      <!-- <h1 class="title" style="left: 65px !important;top: 12px;font-size:13px;">min ago</h1> -->
 		<button ng-click="openModaluploadview()" class="button button-clear button-icon ion-paperclip"></button>
 	</header>
 	
  <ion-content class="has-header" ng-click="uploadview.hide()" >
    <!-- {{type_message}} -->
	<div class="list" id="messages" ng-if="messageList.length > 0">
      <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in messageList track by $index"  style="background:transparent;padding:0px;">
       <div ng-if="msg.sender_id==usernumber" class="chat-bubble left">
            <div class="message" ng-bind-html="msg.text" autolinker>
            </div>
           <div class="message-detail">
                <span  on-hold="deleteMsg(msg.message, 'message', msg.message_id, msg)" class="bold" style="word-wrap: break-word;">{{msg.message}}</span>
                   <div class="container" ng-click="downloadImage(msg.image_url, msg.message_id, msg)" ng-if="msg.image_url  && msg.isdownload=='false'">
                      <img ng-src="{{url_prefix1}}{{msg.image_url}}" class="img-download">
                      <div ng-show="downloadimage" class="center"> <ion-spinner icon="android"></ion-spinner><span class="text-download">Download</span></div>
                      <div ng-hide="downloadimage" class="center"><i class=" icon ion-arrow-down-a icon-download"></i><span class="text-download">Download</span></div>
                    </div>

                    <img  on-hold="deleteMsg(msg.image_url, 'image', msg.message_id, msg)" ng-if="msg.image_url && msg.isdownload=='true'" ng-src="{{msg.image_url}}" style="width:100%;">

                    <div ng-click="downloadDocument(msg.document_url, msg.message_id, msg)" ng-if="msg.document_url && msg.isdownload=='false'">{{msg.document_url}}</div>
                    <div on-hold="deleteMsg(msg.document_url, 'document', msg.message_id, msg)" ng-if="msg.document_url && msg.isdownload=='true'">{{msg.document_url}}</div>

            
                    <div class="container" ng-click="downloadVideo(msg.video_url, msg.message_id, msg)" ng-if="msg.isdownload=='false' && msg.video_url">
                      <video  ng-if="msg.isdownload=='false' && msg.video_url"  class="img-download" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                        <source ng-src="{{msg.video_url}}" type="video/mp4"/>
                        <!-- <ion-spinner icon="android"></ion-spinner> -->
                      </video>
                      <div ng-show="downloadvideo" class="center"> <ion-spinner icon="android"></ion-spinner><span class="text-download">Download</span></div>
                      <div ng-hide="downloadvideo" class="center"><i class=" icon ion-arrow-down-a icon-download"></i><span class="text-download">Download</span></div>
                    </div>



                    <div on-hold="deleteMsg(msg.video_url, 'video', msg.message_id, msg)" ng-if="msg.isdownload=='true' && msg.video_url" style="z-index:99999;">
                      <video  style="width: 100%;"  controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                        <source ng-src="{{msg.video_url}}" type="video/mp4"/>
                        <!-- <ion-spinner icon="android"></ion-spinner> -->
                      </video>
                    </div>

                   <div ng-click="downloadAudio(msg.audio_url, msg.message_id, msg)" ng-if="msg.isdownload=='false' && msg.audio_url" style="z-index:99999;margin:10px;">
                      <audio style="width:100%;"  controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
                        <source src="{{msg.audio_url}}" type="audio/amr">
                        <source src="{{msg.audio_url}}" type="audio/m4a">
                        <source src="{{msg.audio_url}}" type="audio/mp3">
                      </audio>
                    </div>
                    
                    <div on-hold="deleteMsg(msg.audio_url, 'audio', msg.message_id, msg)" ng-if="msg.isdownload=='true' && msg.audio_url" style="z-index:99999;margin:10px;">
                      <audio   style="width:100%;" ng-if="msg.isdownload=='true' && msg.audio_url"  controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
                        <source src="{{msg.audio_url}}" type="audio/amr">
                        <source src="{{msg.audio_url}}" type="audio/m4a">
                        <source src="{{msg.audio_url}}" type="audio/mp3">
                      </audio>
                    </div>
                <div class="user">{{ msg.sender_name }}, <span>{{ humanize(msg.time) }}</span> <span ng-if="msg.delivery_status=='uploaded'" class="tickstyle icon ion-ios-checkmark-empty"></span> <span ng-if="msg.delivery_status=='delivered'" >
                    <i class="tickstyle icon ion-ios-checkmark-empty icon-top"></i>
                    <i class="tickstyle icon ion-ios-checkmark-empty"></i>
                </span> </div>
            </div>	
        </div>
        <div ng-if="msg.sender_id!=usernumber" class="chat-bubble right">
            <div class="message-detail">
                    <span  on-hold="deleteMsg(msg.message, 'message', msg.message_id, msg)" class="bold" style="word-wrap: break-word;">{{msg.message}}</span>
                    <div class="container" ng-click="downloadImage(msg.image_url, msg.message_id, msg)" ng-if="msg.image_url  && msg.isdownload=='false'">
                      <img ng-src="{{url_prefix1}}{{msg.image_url}}" class="img-download">
                      <div ng-show="downloadimage" class="center"> <ion-spinner icon="android"></ion-spinner><span class="text-download">Download</span></div>
                      <div ng-hide="downloadimage" class="center"><i class=" icon ion-arrow-down-a icon-download"></i><span class="text-download">Download</span></div>
                    </div>

                    <img  on-hold="deleteMsg(msg.image_url, 'image', msg.message_id, msg)" ng-if="msg.image_url && msg.isdownload=='true'" ng-src="{{msg.image_url}}" style="width:100%;">

                    <div ng-click="downloadDocument(msg.document_url, msg.m essage_id, msg)" ng-if="msg.document_url && msg.isdownload=='false'">{{msg.document_url}}</div>
                    <div on-hold="deleteMsg(msg.document_url, 'document', msg.message_id, msg)" ng-if="msg.document_url && msg.isdownload=='true'">{{msg.document_url}}</div>

                   <!-- <div ng-click="downloadVideo(msg.video_url, msg.message_id, msg)" ng-if="msg.isdownload=='false' && msg.video_url" style="z-index:99999;">
                      <video  ng-if="msg.isdownload=='false' && msg.video_url"  style="width: 100%;" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                        <source ng-src="{{msg.video_url}}" type="video/mp4"/>
                      </video>
                    </div> -->
                    <div class="container" ng-click="downloadVideo(msg.video_url, msg.message_id, msg)" ng-if="msg.isdownload=='false' && msg.video_url">
                      <video  ng-if="msg.isdownload=='false' && msg.video_url"  class="img-download" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                        <source ng-src="{{msg.video_url}}" type="video/mp4"/>
                        <!-- <ion-spinner icon="android"></ion-spinner> -->
                      </video>
                      <div ng-show="downloadvideo" class="center"> <ion-spinner icon="android"></ion-spinner><span class="text-download">Download</span></div>
                      <div ng-hide="downloadvideo" class="center"><i class=" icon ion-arrow-down-a icon-download"></i><span class="text-download">Download</span></div>
                    </div>



                    <div on-hold="deleteMsg(msg.video_url, 'video', msg.message_id, msg)" ng-if="msg.isdownload=='true' && msg.video_url" style="z-index:99999;">
                      <video  style="width: 100%;"  controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                        <source ng-src="{{msg.video_url}}" type="video/mp4"/>
                        <!-- <ion-spinner icon="android"></ion-spinner> -->
                      </video>
                    </div>

                   <!--  <div  ng-click="downloadAudio(msg.audio_url, msg.message_id, msg)" ng-if="msg.isdownload=='false' && msg.audio_url">
                      <audio style="width:100%;"  controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
                        <source src="{{msg.audio_url}}" type="audio/amr">
                        <source src="{{msg.audio_url}}" type="audio/m4a">
                        <source src="{{msg.audio_url}}" type="audio/mp3">
                      </audio>
                     
                    </div> -->

                    <div ng-click="downloadAudio(msg.audio_url, msg.message_id, msg)" ng-if="msg.isdownload=='false' && msg.audio_url" style="z-index:99999;margin:10px;">
                      <audio style="width:100%;"  controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
                        <source src="{{msg.audio_url}}" type="audio/amr">
                        <source src="{{msg.audio_url}}" type="audio/m4a">
                        <source src="{{msg.audio_url}}" type="audio/mp3">
                      </audio>
                    </div>

                    <div on-hold="deleteMsg(msg.audio_url, 'audio', msg.message_id, msg)" ng-if="msg.isdownload=='true' && msg.audio_url" style="z-index:99999;margin:10px;">
                      <audio   style="width:100%;" ng-if="msg.isdownload=='true' && msg.audio_url"  controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
                        <source src="{{msg.audio_url}}" type="audio/amr">
                        <source src="{{msg.audio_url}}" type="audio/m4a">
                        <source src="{{msg.audio_url}}" type="audio/mp3">
                      </audio>
                    </div>
                <div class="user">{{ msg.receiver_name }}, <span>{{ humanize(msg.time) }}</span></div>
            </div>
          </div>
	    </li>
	</div>
  <br />
	<div class="card" ng-if="!messageList.length">
	  <div class="item item-text-wrap">
	    No messages yet.
	  </div>
	</div>

  </ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset  has-content">
  <label class="item-input-wrapper">
    <textarea type="text" placeholder="Type your message" on-return="sendTextMessage(); closeKeyboard()"  ng-model="message" ng-keyup="stopTyping()" ng-change="startTyping()" style="margin:5px;width: 100%;" ></textarea>
  </label>
  <button class="button button-clear" ng-click="sendTextMessage()">
    Send
  </button>
</ion-footer-bar>

</ion-view>