<ion-view align-title="left" title="{{current_room }}" style="background:url('img/bg.jpg') fixed no-repeat;background-size:100%;">
 	<header class="bar bar-header bar-positive">
 		<button class="button button-clear button-icon ion-android-arrow-back" ng-click="leaveRoom()"></button>
      <img src="img/profile.png" style="width:35px;height:35px;">
 		  <h1 class="title" style="left: 65px !important;top: -6px;">{{current_chat_friend}}</h1>
      <!-- <h1 class="title" ng-hide="online" style="left: 65px !important;top: 12px;font-size:13px;">online</h1> -->
      <h1 class="title text_white" style="left: 65px !important;top: 12px;font-size:13px;">{{type_message}}</h1>
      <!-- <h1 class="title" style="left: 65px !important;top: 12px;font-size:13px;">min ago</h1> -->
 		<button ng-click="openModaluploadview()" class="button button-clear button-icon ion-paperclip"></button>
 	</header>
 	
  <ion-content class="has-header" ng-click="uploadview.hide()" >
    <!-- {{type_message}} -->
	<div class="list" id="messages" ng-if="messageList.length > 0">
      <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in messageList track by $index"  style="background:transparent;padding:0px;">
                      <div ng-if="msg.sender_id == usernumber" class="chat-bubble left">
      
                          <div class="message" ng-bind-html="msg.text" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span class="bold" style="word-wrap: break-word;">{{msg.message}}</span>
                              <img ng-if="msg.image_url" ng-src="{{url_prefix1}}{{msg.image_url}}">
                              <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="{{url_prefix1}}{{msg.image_url}}" type="video/mp4"/></video>
                              <div class="user">{{ msg.sender_name }}, <span>{{ humanize(msg.time) }}</span></div>
                          </div>	
      
                      </div>
                      <div ng-if="msg.sender_id != usernumber" class="chat-bubble right">
      
                          <div class="message-detail">
                              <span 
                                  class="bold" style="word-wrap: break-word;">{{msg.message}}</span>
                                  <img ng-if="msg.image_url" ng-src="{{url_prefix1}}{{msg.image_url}}">
                              <div class="user">{{ msg.receiver_name }}, <span>{{ humanize(msg.time) }}</span></div>
                          </div>
      
                      </div>

	    </li>
	</div>
	<div class="card" ng-if="!messageList.length"  style="top:10%;">
	  <div class="item item-text-wrap">
	    No messages yet.
	  </div>
	</div>

  </ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset  has-content">
  <label class="item-input-wrapper">
    <textarea type="text" placeholder="Type your message" on-return="sendTextMessage(); closeKeyboard()"  ng-model="message" ng-keyup="stopTyping()" ng-change="startTyping()" style="margin:5px;width: 100%;" ></textarea>
  </label>
  <button class="button button-clear" ng-click="sendTextMessage()">
    Send
  </button>
</ion-footer-bar>

</ion-view>