<ion-view align-title="left" title="{{current_room }}">
 	<header class="bar bar-header bar-positive">
 		<button class="button button-clear button-icon ion-chevron-left" ng-click="leaveRoom()"></button>
 		<h1 class="title">{{current_user}}</h1>
 		
 	</header>
 	
  <ion-content class="has-header padding" style="background:url('img/bg.jpg') fixed no-repeat;background-size:100%;bottom:-30px;">
	
	<div class="list" id="messages" ng-if="messages.length > 0">
	    <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in messages" style="background:transparent;padding:0px;">
	    	<!-- <div class="msg">	    		
		    	<div class="details padding">	    		
					<p>
						<div class="user">{{ msg.user }}</div>
						<div class="message">{{ msg.text }}</div>
					</p>
					<small>{{ humanize(msg.time) }}</small>	
		    	</div>
	    	</div> -->
	    	<!-- <div ng-if="user._id !== message.userId"> -->
                      
                    <!-- <img ng-click="viewProfile(message)" class="profile-pic left" 
                          ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" /> -->
      
                      <div class="chat-bubble left">
      
                          <div class="message" ng-bind-html="msg.text" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{msg.message}}</span>
                              <div class="user">{{ msg.user }}, <span>{{ humanize(msg.time) }}</span></div>
                          </div>	
      
                      </div>
                 <!--  </div>
      
                  <div ng-if="user._id === message.userId">
                    
                       <img ng-click="viewProfile(message)" class="profile-pic right" 
                          ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />
                    
                      <div class="chat-bubble right">
      
                          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{user.username}}</span>, 
                              <span am-time-ago="message.date"></span>
                          </div>
      
                      </div>
                    
                  </div> -->

	    </li>
	</div>	

	<div class="card" ng-if="!messages.length">
	  <div class="item item-text-wrap">
	    No messages yet.
	  </div>
	</div>

  </ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset  has-content">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" on-return="sendTextMessage(); closeKeyboard()"  ng-model="message" on-focus="inputUp()" on-blur="inputDown()" style="margin:5px;" />
  </label>
  <button class="button button-clear" ng-click="sendTextMessage()">
    Send
  </button>
</ion-footer-bar>

</ion-view>