<ion-view title="Login" ng-controller="SignupCtrl" style="background:url('img/login.jpg') fixed no-repeat;background-size:cover;">
  <ion-content class="has-header">
	
	<div class="card no-background padding-top-40">
		<label class="item item-input">
			<input type="text" ng-model="loginform.username" placeholder="Enter The User Name">
		</label>
		<br />
		<div class="row no-padding">
			<div class="col col-25 no-padding">
				<label class="item item-input">
					<select ng-model="loginform.userCountry" style="width: 100%;float: right;margin: 0px 0px 0px -10px;height: 34px;border: none;background:#FFF;">
				      <option value="" selected>+91</option>
				    </select>
				</label>
			</div>
			<div class="col no-padding">
				<label class="item item-input">
					<input type="number" ng-model="loginform.usernumber" placeholder="Enter The Number">
				</label>
			</div>
		</div>
		<button class="button button-positive button-block text-white" ng-click="gotologin();">Signup</button>
	</div>

  </ion-content>

</ion-view>