ion-content {
    margin-bottom: 50px !important;
}

.no-border {
	border: none;
}
p {
    margin: 0 0 10px;
    color: #716f6f !important;
}
.button.button-positive{
  color: #333 !important;
}
.popup-container .popup{
  background-color: #FFF !important;
}
.user {
    font-weight: 500;
}
.checkbox {
    position: relative;
    display: inline-block;
    padding: 20px 70px !important;
    cursor: pointer;
}

.current-user {
	float: left;
    clear: both;
}

/*.not-current-user {
	float: right;
	clear: both;
}*/

.current-user .details {
	background-color: #FFF;
}

.not-current-user .details {
    background-color: #DCDCDC;
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.bar.bar-positive {
    border-color: #2de7c7;
    background-color: #2de7c7;
    background-image: linear-gradient(0deg, #2de7c7, #2de7c7 50%, transparent 50%);
    color: #fff;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #2de7c7;
    border-color: #2de7c7;
}
/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
/*  color: #FFF;*/
}

.message-detail {
  /*white-space: nowrap;*/
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 70%;
  min-width: 60%;
  width: 70%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 5px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 5px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
  background-color: #FFF !important;
}

.bold {
  font-weight: 500;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}
.item h2 {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: 600;
}
.bar .title {
    position: absolute;
    top: 0;
    right: 0;
    left: 40px !important;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: left !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
}
.pullSearch{
  position:absolute !important;
  right: 22% !important; 
  top:5px !important; 
  z-index:99 !important;
}
.pullflash{
  position:absolute !important;
  left: 30px !important; 
  top:5px !important; 
  z-index:99 !important;
}

.pullRight{
  position:absolute !important;
  right: 2.5% !important; 
  top:5px !important; 
  z-index:99 !important;
}

.pullSame{
  position:absolute !important;
  right: 11% !important; 
  top:5px !important; 
  z-index:99 !important;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before{
    vertical-align: top;
    font-size: 28px !important;
    line-height: 32px;
}
.searchBar {
  color: #fff;
  margin: 0 !important;
  padding: 0;
}
.searchBar .icon {
  font-size: 27px;
  line-height: 1.2;
  padding-right: 6px;
  padding-left: 6px;
}
.searchBar .searchTxt {
  border-bottom: 1px solid #fff;
  left: 55px;
  width: calc(100% - 100px);
  position: fixed;
  height: calc(100% - 10px);
}
.searchBar.numicons2 .searchTxt {
  width: calc(100% - 135px);
}
.searchBar .searchTxt > .bgdiv {
  background-color: #aaa;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
}
.searchBar .searchTxt > .bgtxt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.searchBar .searchTxt input {
  background-color: inherit;
  color: #fff;
  padding-left: 5px;
  padding-right:5px;
}
.text-white{
  color: #FFF;
}
.platform-android .popover{
  background: #FFF !important;
}
.platform-android .popover .item {
    border-color: #FFF;
    background-color: #FFF;
    color: #333;
}
ion-content{
  margin-bottom: 0px !important;
}
.popover {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 10;
    display: block;
    margin-top: 12px;
    margin-left: -110px;
    height: 170px !important;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    opacity: 0;
}
#chat .popover {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 10;
    display: block;
    margin-top: 12px;
    margin-left: -110px;
    height: 250px !important;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.no-background{
  background:none !important;
  box-shadow:none !important;
  border:none !important;
}
.no-background1{
  background:none !important;
  box-shadow:none !important;
  /*border:none !important;*/
}
.padding-top-40{
  padding-top: 40%;
}
.item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 35px;
    border-bottom: 1px solid #444343 !important;
    background-color: #ffffff !important;
    color: #2de7c7 !important;
    font-weight: normal;
}
.text-dark{
  color: #636363 !important;
}
.no-margin{
  margin:0px !important;
}
.no-padding{
  padding:0px !important;
}
.button-bar > .button{
  padding-top: 5px !important;
}
.icon-color{
  color: #2de7c7 !important;
}
.item-toggle .toggle {
    position: absolute;
    top: 55px;
    right: 16px;
    z-index: 3;
}
.toggle.toggle-balanced input:checked + .track {
    border-color: #2de7c7 !important;
    background-color: #2de7c7 !important;
}
.slidingTabs .tab-indicator-wrapper {
    width: 100%;
    height: 4px !important;
    margin: -2px !important;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: translateY(-2px);
    position: absolute;
}
.icon-circle, .icon-circle-large, .icon-circle-small{
    position: absolute;
    display: inline-block;
    margin: 106px -41px;
    padding: 7px 8px !important;
    width: 45px;
    height: 45px;
    font-size: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(45, 231, 199);
    color: #fff;
    text-align: center;
    /* vertical-align: middle; */
}

.icon-circle-large {
  width: 100px;
  height: 100px;
  font-size: 64px; /* 64, originally 60 */
  padding: 16px;
  
  
}
.icon-circle-small {
  width: 24px;
  height: 24px;
  font-size: 20px;
}


/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
   border: 1px solid rgb(0, 161, 225);
   background: transparent;
  color: rgb(0, 161, 225);
   /*color: #8a6de9;*/
}

.icon-circle-outline i {  }
/*icon-circle-bg and icon-circle and circle-bg*/




/*http://davidwalsh.name/css-circles*/



.item-icon-circle {
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius: 50%;
  width: 100px;
  height: 100px; 
  /* width and height can be anything, as long as they're equal */
  
  text-align:center;
  color:white;
  /* font size here wont work */

}

.item-icon-circle i {
  /*text-align:center;
  color:white;*/
   /*margin: 0px auto;
  padding: 0px;
  display:block;*/
  font-size:30px;
}


.bg-circle-alt {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius: 50%;
  width: 100px;
  height: 100px; 
}
.fs-20{
  font-size: 20px !important;
}
.fs-16{
  font-size: 16px !important;
}
.modal {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    background-color: #040404 !important;
}
.background-black{
  background-color: #040404 !important;
  border-color:  #040404 !important;
  border-bottom-width: 0px !important;
}
.text-white{
  color: #FFF !important;
}
.autoComplete{
  position: absolute !important;
  z-index: 99999;
  margin-top: 0px !important;
  width: 100% !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  height: 350px !important;
  overflow: scroll !important;
  overflow-y: scroll !important;
}
.room-view{
    position: absolute;
    width: 100%;
    border: none;
    top: 244px;
    background: rgba(11, 11, 11, 0.5);
    color: #FFF !important;
}
.product-scroll {
 height: 95px;
 overflow: auto;
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;
 overflow: scroll; } 
.product-image-wrapper {
 margin: 10px;
 width: 90px;
 height: 120px;
 display: inline-block; }
 .product-image-wrapper img {
   max-width: 120px;
   max-height: 84px;
   width: auto;
   height: auto; }
.tickstyle{
    margin: -3px 0px 0px 10px;
    font-size: 26px;
    position: absolute;
}